body {
  background: #F2F2F2;
}
#side_nav {
  position: absolute;
  width: 104px;
  left: 0px;
  top: 0px;
  background: #FFF;
  height: 100%;
}

#tab_nav {
  position: absolute;
  width: 1336px;
  height: 200px;
  left: 104px;
  top: 0px;
}
#main_content {
  position: relative;
  top: 232px;
  margin-left: 136px;
  margin-right: 136px;
  background: red;
}
#main_content .member_block{
  position: relative;
  height: 229px;
  margin: 12px;
  width: 300px;
  background: blue;
  float: left;
}